{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Votre panier
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>Votre panier</h1>
	{# basket #}
	{% if panier is empty %}
		<div class="container my-5">
			<div class="row">
				Votre panier est vide
			</div>
		</div>
	{% else %}
		<div class="container">
			<div class="row">
				<table class="table my-5">
					<thead class="thead-dark">
						{# professional part #}
						{% if is_granted('ROLE_PRO') %}
							<tr>
								<th>Article</th>
								<th>HTT</th>
								<th>Quantity</th>
								<th>Total</th>
								<th></th>
							</tr>
						{% else %}
							<tr>
								<th>Article</th>
								<th>HTT</th>
								<th>TTC</th>
								<th>Quantity</th>
								<th>Total</th>
								<th></th>
							</tr>
						{% endif %}
					</thead>
					<tbody>
						{% for item in panier %}
							<tr>
								<td>{{ item.article.nom }}</td>
								<td>{{ item.article.prixHT }}</td>
								{# professional part #}
								{% if is_granted('ROLE_PRO') %}
									{# #}
								{% else %}
									<td>{{ item.article.prixTTC }}</td>
								{% endif %}
								<td>{{ item.quantity }}</td>
								<td>{{ item.article.prixHT * item.quantity }}</td>
								<td>
									<div class="row">
										{# add button #}
										<div class="mx-1">
											<a href="{{ path('panier_add', {'id': item.article.id, 'promo': promo}) }}">
												<button class="add-button-sm" title="Ajouter">
													<i data-fa-symbol="add" class="fas fa-plus"></i>
													<svg class="icon-sm">
														<use xlink:href="#add"></use>
													</svg>
												</button>
											</a>
										</div>
										{# delete button #}
										<div class="mx-1">
											<a href="{{ path('panier_delete', {'id': item.article.id}) }}">
												<button class="delete-button-sm" title="Supprimer">
													<i data-fa-symbol="remove" class="fas fa-trash"></i>
													<svg class="icon-sm">
														<use xlink:href="#remove"></use>
													</svg>
												</button>
											</a>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						{# discount #}
						{% if promo is defined and promo > 0 %}
							<tr>
								{# professional part #}
								{% if is_granted('ROLE_PRO') %}
									<td colspan="3" class="text-right">Réduction :</td>
								{% else %}
									<td colspan="4" class="text-right">Réduction :</td>
								{% endif %}
								<td>{{ promo }}</td>
								<td></td>
							</tr>
						{% endif %}
						<tr>
							{# professional part #}
							{% if is_granted('ROLE_PRO') %}
								<td colspan="3" class="text-right">Total :</td>
							{% else %}
								<td colspan="4" class="text-right">Total :</td>
							{% endif %}
							<td>{{ total }}</td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	{% endif %}
	{# checkout button #}
	<div class="container">
		<div class="row d-flex justify-content-end">
			{% if panier is not empty %}
				<div>
					<a href="{{ path('panier_validation')}}">
						<button class="checkout-button">
							Checkout
						</button>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
