{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('panier_index') }}">
					Votre panier
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Récapitulatif de la commande
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>Récapitulatif de la commande</h1>
	{# user information #}
	<div class="container my-5">
		<div class="row">
			<div class="col-4">
				{# title #}
				<h2>Vos informations</h2>
				<div class="my-4">
					<ul class="list-group list-group-flush">
						{# professional #}
						{% if is_granted('ROLE_PRO') %}
							<li class="list-group-item">
								{{ app.user.pro.prenom }}
								{{ app.user.pro.nom }}
							</li>
							<li class="list-group-item">
								{{ app.user.pro.adresse }}</li>
							<li class="list-group-item">{{ app.user.pro.societe }}
							</li>
							<li class="list-group-item">
								{{ app.user.pro.telephone }}</li>
							<li class="list-group-item">{{ app.user.email }}
							</li>
							<li class="list-group-item">
								{{ app.user.pro.siret }}
							</li>
							{# individual #}
						{% elseif is_granted('ROLE_PARTICULIER') %}
							<li class="list-group-item">
								{{ app.user.particulier.prenom }}
								{{ app.user.particulier.nom }}
							</li>
							<li class="list-group-item">
								{{ app.user.particulier.adresse }}
							</li>
							<li class="list-group-item">
								{{ app.user.particulier.codePostal }}
								{{ app.user.particulier.ville }}
							</li>
							<li class="list-group-item">
								{{ app.user.particulier.telephone }}
							</li>
							<li class="list-group-item">
								{{ app.user.email }}
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
			{# order information #}
			<div class="col-8">
				{# title #}
				<h2>Votre commande</h2>
				<div class="my-4">
					<table class="table">
						<thead class="custom-thead">
							{# professional #}
							{% if is_granted('ROLE_PRO') %}
								<tr>
									<th>Article</th>
									<th>HTT</th>
									<th>Quantité</th>
									<th>Total</th>
								</tr>
							{% else %}
								<tr>
									<th>Article</th>
									<th>HTT</th>
									<th>TTC</th>
									<th>Quantité</th>
									<th>Total</th>
								</tr>
							{% endif %}
						</thead>
						<tbody>
							{% for item in panier %}
								<tr>
									<td>{{ item.article.nom }}</td>
									<td>{{ item.article.prixHT }}</td>
									{# professional #}
									{% if is_granted('ROLE_PRO') %}
										{# #}
									{% else %}
										<td>{{ item.article.prixTTC }}</td>
									{% endif %}
									<td>{{ item.quantity }}</td>
									<td>{{ item.article.prixTTC * item.quantity }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							{# discount #}
							{% if promo is defined and promo > 0 %}
								<tr>
									{# professional #}
									{% if is_granted('ROLE_PRO') %}
										<td colspan="3" class="text-right">Réduction :</td>
									{% else %}
										<td colspan="4" class="text-right">Réduction :</td>
									{% endif %}
									<td>
										{{ promo }}
										%
									</td>
								</tr>
							{% endif %}
							<tr>
								{# professional #}
								{% if is_granted('ROLE_PRO') %}
									<td colspan="3" class="text-right">Total :</td>
								{% else %}
									<td colspan="4" class="text-right">Total :</td>
								{% endif %}
								<td>
									{{ total }}
									€
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				{# booking button #}
				<div class="d-flex justify-content-center my-5">
					<div>
						<a href="{{ path('panier_reservation') }}">
							<button class="booking-button" title="Valider la réservation">
								<i data-fa-symbol="booking" class="fas fa-check"></i>
								<svg class="icon-md">
									<use xlink:href="#booking"></use>
								</svg>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
