{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			{% if is_granted('ROLE_PARTICULIER') %}
				<li class="breadcrumb-item">
					<a href="{{ path('particulier_profile', {'id' : app.user.id }) }}">
						Profile
					</a>
				</li>
			{% elseif is_granted('ROLE_PRO') %}
				<li class="breadcrumb-item">
					<a href="{{ path('pro_profile', {'id' : app.user.id }) }}">
						Mon profil
					</a>
				</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">
				Modification du mot de passe
			</li>
		</ol>
	</nav>
	{# title #}
	<h1 class="text-center">Modification du mot de passe</h1>
	{# body #}
	{{ form_start(formPass) }}
	<div class="container mt-4">
		<div class="row d-flex justify-content-center">
			<div class="col-4">
				<div class="d-flex flex-column mt-2">
					{{ form_label(formPass.oldPassword, 'Ancien mot de passe') }}
					{{ form_widget(formPass.oldPassword) }}
				</div>
				<div class="d-flex flex-column mt-2">
					{{ form_label(formPass.plainPassword.first, 'Nouveau mot de passe') }}
					{{ form_widget(formPass.plainPassword.first) }}
				</div>
				<div class="d-flex flex-column mt-2">
					{{ form_label(formPass.plainPassword.second, 'Confirmer nouveau mot de passe') }}
					{{ form_widget(formPass.plainPassword.second) }}
				</div>
			</div>
		</div>
	</div>
	{# save button #}
	<div class="container mt-4">
		<div class="row d-flex justify-content-center">
			<button class="btn" title="Sauvegarder">
				<i data-fa-symbol="save" class="fas fa-save text-success"></i>
				<svg class="icon-md">
					<use xlink:href="#save"></use>
				</svg>
			</button>
		</div>
	</div>
	{{ form_end(formPass) }}
{% endblock %}
