{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
<!-- tree -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
		{% if is_granted('ROLE_PARTICULIER') %}
			<li class="breadcrumb-item">
				<a href="{{ path('particulier_profile', {'id' : app.user.id }) }}">
					Profile
				</a>
			</li>
		{% elseif is_granted('ROLE_PRO') %}
			<li class="breadcrumb-item">
				<a href="{{ path('pro_profile', {'id' : app.user.id }) }}">
					Profile
				</a>
			</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">
				Changement de mot de passe
			</li>
		</ol>
	</nav>

    <h1 class="text-center">Changement de mot de passe</h1>
<div class="container d-flex justify-content-center">
    {{ form_start(formPass) }}
        {{ form_row(formPass.oldPassword) }}
        {{ form_row(formPass.plainPassword) }}

        <button class="btn btn-success">Envoyer</button>
    {{ form_end(formPass) }}
</div>
{% endblock %}