{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Se connecter
			</li>
		</ol>
	</nav>
	{# login #}
	<div class="container mt-4">
		<div class="row">
			<div class="col-lg">
				<form
					method="post">
					{# error #}
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{# logged in as #}
					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('logout') }}">
								Se déconnecter
							</a>
						</div>
					{% endif %}
					{# login infos #}
					<label class="mt-2" for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
					<label class="mt-2" for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					{# remember me #}
					<div class="checkbox mb-3">
						<label class="mt-2">
							Se souvenir de moi
						</label>
						<input type="checkbox" name="_remember_me">
					</div>
					{# login button #}
					<button class="btn btn-success" type="submit">
						Connexion
					</button>
				</form>
			</div>
			{# login page img #}
			<div class="col-lg d-flex justify-content-end">
				<img src="https://via.placeholder.com/400x500" class="img-thumbnail" style="width:400px; height:500px;" alt="">
			</div>
		</div>
	</div>
{% endblock %}
