{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
    <h1>Commandes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Commande</th>
                <th>Client ID</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande_pro in commande_pros %}
            <tr>
                <td>{{ commande_pro.id }}</td>
                <td>{{ commande_pro.pro.id }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande_pro.id}) }}">details</a>
                    <a href="{{ path('commande_edit', {'id': commande_pro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{{ path('commande_new', {'id': app.user.pro.id}) }}">Create new</a></p>

    <a href="{{ path('pro_profile', {'id': app.user.id}) }}">Back to profil</a>
{% endblock %}
