{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('pro_profile', {'id' : app.user.id}) }}">
					Mon profil
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Mes commandes
			</li>
		</ol>
	</nav>
	{# title #}
	<h1 class="text-center">Mes commandes</h1>
	{# body #}
	<table class="table mt-4">
		<thead class="thead-dark">
			<tr>
				<th>Commande</th>
				<th>Client ID</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande_pro in commande_pros %}
				<tr>
					<td>{{ commande_pro.id }}</td>
					<td>{{ commande_pro.pro.id }}</td>
					<td title="Afficher">
						<a href="{{ path('commande_show', {'id': commande_pro.id}) }}">
							<i data-fa-symbol="show" class="fas fa-eye text-secondary"></i>
							<svg class="icon-md">
								<use xlink:href="#show"></use>
							</svg>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">Aucune commande trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
