{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			{# administrator #}
			{% if is_granted('ROLE_ADMIN') %}
				<li class="breadcrumb-item">
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('admin_commande_index') }}">
						Commandes
					</a>
				</li>
				{# professional #}
			{% elseif is_granted('ROLE_PRO')  %}
				<li class="breadcrumb-item">
					<a href="{{ path('pro_profile', {'id' : app.user.id}) }}">
						Profile
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('commande_index', {'id' : app.user.pro.id}) }}">
						Commandes
					</a>
				</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">
				Détails commandes
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>Détails commandes</h1>
	{# body #}
	<div class="container my-5">
		<div class="row">
			<table class="table custom-table">
				<thead>
					<tr>
						<th>Article ID</th>
						<th>Article name</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Discount</th>
						<th>Total</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% if details is not empty %}
						{% for detail in details %}
							<tr>
								<td>
									<a href="#">{{ detail.id }}</a>
								</td>
								<td>{{ detail.nomArt }}</td>
								<td>{{ detail.quantite }}</td>
								<td>{{ detail.prixHT }}</td>
								<td>{{ detail.remise }}</td>
								<td>{{ detail.total }}</td>
								<td>
									{# administrator #}
									{% if is_granted('ROLE_ADMIN') %}
										<div class="row">
											<div class="mx-1">
												<a href="{{ path('commande_edit', {'id': commande_pro.id}) }}">
													<button class="edit-button-sm" title="Modifier">
														<i data-fa-symbol="edit" class="fas fa-pen"></i>
														<svg class="icon-sm">
															<use xlink:href="#edit"></use>
														</svg>
													</button>
												</a>
											</div>
											<div class="mx-1">
												{{ include('commande/detail_cde_pro/_delete_form.html.twig') }}
											</div>
										</div>
										{# professional #}
									{% elseif is_granted('ROLE_PRO') %}
										<div class="row">
											{# edit button #}
											<div class="mx-1">
												<a href="{{ path('commande_edit', {'id': commande_pro.id}) }}">
													<button class="edit-button-sm" title="Modifier">
														<i data-fa-symbol="edit" class="fas fa-pen"></i>
														<svg class="icon-sm">
															<use xlink:href="#edit"></use>
														</svg>
													</button>
												</a>
											</div>
											<div class="mx-1">
												{{ include('commande/detail_cde_pro/_delete_form.html.twig') }}
											</div>
										</div>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-right">Total :</td>
						<td>{{ total }} €</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}
