{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
    <h1>Details commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Article ID</th>
                <th>Article name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Price with Taxes</th>
            </tr>
            {% for detail in details %}
                <tr>
                    <td><a href="#">{{ detail.article }}</a></td>
                    <td>{{ detail.nomArt }}</td>
                    <td>{{ detail.quantity }}</td>
                    <td>{{ detail.prixHT }}</td>
                    <td>{{ detail.remise }}</td>
                    <td>{{ detail.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_PRO') %}   
        <a href="{{ path('commande_index', {'id': commande_pro.pro.id}) }}">back to list</a>
        <a href="{{ path('commande_edit', {'id': commande_pro.id}) }}">edit</a>
    {% elseif is_granted('ROLE_ADMIN') %}   
        <a href="{{ path('admin_commande_index') }}">back to list</a>
        <a href="{{ path('admin_commande_edit', {'id': commande_pro.id, 'role': 'pro'}) }}">edit</a>
    {% endif %}
    {{ include('commande/commande_pro/_delete_form.html.twig') }}
{% endblock %}
