{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% if user.pro is null %}
    <h1>Hello {{ user.email }}! ✅</h1>
{% else %}
    <h1>Hello! ✅</h1>
{% endif %}

</div>
<div class="container-full">
    <div class="row">
        <div class="col">
            <nav>
            <ul>
                {% if user.pro is null %}
                    <li><a href="{{ path('pro_informations', {'id': user.id}) }}">Informations</a></li>
                {% else %}
                    <li><a href="{{ path('pro_edit', {'id': user.pro.id}) }}">Mise a jour des informations</a></li>
                    <li><a href="{{ path('changer_mdp', {'id': user.id}) }}">Changer mot de passe</a></li>
                    <li><a href="#">Commandes</a></li>
                    <li><a href="#">Rendez-vous</a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
        {% if user.pro is not null %}
            <div class="col">
                <p> {{ user.pro.prenom }}</p>
                <p> {{ user.pro.nom }}</p>
                <p> {{ user.pro.adresse }}</p>
                <p> {{ user.pro.telephone }}</p>
                <p> {{ user.email }}</p>
                <p> {{ user.pro.siret }}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
