{% extends 'base.html.twig' %}

{% block title %}DASHBOARD{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item active" aria-current="page">
				Dashboard
			</li>
		</ol>
	</nav>
	{# dashboard #}
	<h1 class="text-center">Dashboard</h1>

	<div class="container mt-4">
		<div class="row">
			{# dashboard left nav #}
			<div class="col-1 d-flex justify-content-center">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					{# accounts icon #}
					<a class="nav-link active mb-4" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="true" title="Comptes utilisateurs">
						<i data-fa-symbol="user" class="fas fa-user text-success"></i>
						<svg class="icon">
							<use xlink:href="#user"></use>
						</svg>
					</a>
					{# products icon #}
					<a class="nav-link mb-4" id="v-pills-product-tab" data-toggle="pill" href="#v-pills-product" role="tab" aria-controls="v-pills-product" aria-selected="false" title="Articles">
						<i data-fa-symbol="articles" class="fas fa-box text-success"></i>
						<svg class="icon">
							<use xlink:href="#articles"></use>
						</svg>
					</a>
					{# orders icon #}
					<a class="nav-link mb-4" id="v-pills-order-tab" data-toggle="pill" href="#v-pills-order" role="tab" aria-controls="v-pills-order" aria-selected="false" title="Commandes">
						<i data-fa-symbol="order" class="fas fas fa-box-open text-success"></i>
						<svg class="icon">
							<use xlink:href="#order"></use>
						</svg>
					</a>
					{# discounts icon #}
					<a class="nav-link" id="v-pills-discount-tab" data-toggle="pill" href="#v-pills-discount" role="tab" aria-controls="v-pills-discount" aria-selected="false" title="Promotions">
						<i data-fa-symbol="discount" class="fas fas fa-percent text-success"></i>
						<svg class="icon">
							<use xlink:href="#discount"></use>
						</svg>
					</a>
				</div>
			</div>
			{# menu #}
			<div class="col-11">
				<div class="tab-content d-flex justify-content-start" id="v-pills-tabContent">
					{# accounts tab #}
					<div class="tab-pane fade show active" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('pro_index')}}">
									Professionnels
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('particulier_index')}}">
									Particuliers
								</a>
							</li>
						</ul>
					</div>
					{# products tab #}
					<div class="tab-pane fade" id="v-pills-product" role="tabpanel" aria-labelledby="v-pills-product-tab">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('admin_article_index')}}">
									Articles
								</a>
							</li>
						</ul>
					</div>
					{# orders tab #}
					<div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('admin_commande_index')}}">
									Commandes
								</a>
							</li>
						</ul>
					</div>
					{# discounts tab #}
					<div class="tab-pane fade" id="v-pills-discount" role="tabpanel" aria-labelledby="v-pills-discount-tab">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('promo_index')}}">
									Promos
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
