{% extends 'base.html.twig' %}

{% block title %}Spec index{% endblock %}

{% block body %}
    <h1>Spec index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>IdGroupe</th>
                <th>Valeur</th>
                <th>Unite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spec in specs %}
            <tr>
                <td>{{ spec.id }}</td>
                <td>{{ spec.nom }}</td>
                <td>{{ spec.idGroupe }}</td>
                <td>{{ spec.valeur }}</td>
                <td>{{ spec.unite }}</td>
                <td>
                    <a href="{{ path('spec_show', {'id': spec.id}) }}">show</a>
                    <a href="{{ path('spec_edit', {'id': spec.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spec_new') }}">Create new</a>
{% endblock %}
