{% extends 'base.html.twig' %}

{% block title %}PROSmobile |spécifications{% endblock %}

{% block body %}
    {# tree #}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white rounded-0">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_index') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Gestion des spécifications
            </li>
        </ol>
    </nav>
    {# body #}
    <h1 class="text-center">Liste des spécifications</h1>
    {# add button #}
    <div class="container-fluid mt-4">
        <div class="row">
            <a class="btn" href="{{ path('spec_new') }}" title="Ajouter">
                <i data-fa-symbol="add" class="fas fa-plus text-secondary"></i>
                <svg class="icon-md">
                    <use xlink:href="#add"></use>
                </svg>
            </a>
        </div>
    </div>
    {# discount list #}
    <div class="container mt-4">
        <div class="row">
            {% for spec in specs %}
                <div class="col-12">
                    <div class="media mt-2">
                        <div class="media-body">
                            <h5 class="mt-2">{{ spec.nom }}</h5>
                            <p class="mt-4">
                                {{ spec.valeur }}
                            </p>
                            {# edit button #}
                            <div class="mt-4">
                                <a href="{{ path('spec_edit', {'id': spec.id}) }}" title="Modifier">
                                    <i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
                                    <svg class="icon-md">
                                        <use xlink:href="#edit"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {# empty #}
                <div class="">
                    Aucune spécification enregistrée
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
