{% extends 'base.html.twig' %}

{% block title %}Pro index{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_index') }}">
					Dashboard
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Comptes professionnels
			</li>
		</ol>
	</nav>
	{# title #}
	<h1 class="text-center">Comptes professionnels</h1>
	{# body #}
	<table class="table mt-4">
		<thead class="thead-dark">
			<tr>
				<th>Prenom</th>
				<th>Nom</th>
				<th>Societe</th>
				<th>Siret</th>
				<th>Adresse</th>
				<th>CodePostal</th>
				<th>Ville</th>
				<th>Telephone</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for pro in pros %}
				<tr>
					<td>{{ pro.prenom }}</td>
					<td>{{ pro.nom }}</td>
					<td>{{ pro.societe }}</td>
					<td>{{ pro.siret }}</td>
					<td>{{ pro.adresse }}</td>
					<td>{{ pro.codePostal }}</td>
					<td>{{ pro.ville }}</td>
					<td>{{ pro.telephone }}</td>
					<td>
						<a href="{{ path('pro_edit', {'id': pro.id}) }}" title="Modifier">
							<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
							<svg class="icon-md">
								<use xlink:href="#edit"></use>
							</svg>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucune données</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
