{% extends 'base.html.twig' %}

{% block title %}Pro index{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_index') }}">
					Dashboard
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Comptes professionnels
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>Comptes professionnels</h1>
	{# table #}
	<div class="container my-5">
		<div class="row">
			<table class="table custom-table">
				<thead>
					<tr>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Société</th>
						<th>Siret</th>
						<th>Adresse</th>
						<th>Code postal</th>
						<th>Ville</th>
						<th>Téléphone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for pro in pros %}
						<tr>
							<td>{{ pro.prenom }}</td>
							<td>{{ pro.nom }}</td>
							<td>{{ pro.societe }}</td>
							<td>{{ pro.siret }}</td>
							<td>{{ pro.adresse }}</td>
							<td>{{ pro.codePostal }}</td>
							<td>{{ pro.ville }}</td>
							<td>{{ pro.telephone }}</td>
							<td>
								{# edit button #}
								<div>
									<a href="{{ path('pro_edit', {'id': pro.id}) }}">
										<button class="edit-button-sm" title="Modifier">
											<i data-fa-symbol="edit" class="fas fa-pen"></i>
											<svg class="icon-sm">
												<use xlink:href="#edit"></use>
											</svg>
										</button>
									</a>
								</div>
							</td>
						</tr>
					{% else %}
						{# empty #}
						<tr>
							<td colspan="10">Aucune données</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
