{% extends 'base.html.twig' %}

{% block title %}Particulier index{% endblock %}

{% block body %}
<!-- tree -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('admin_index') }}">
					Dashboard
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
					Index particulier
				</a>
			</li>
		</ol>
	</nav>

    <h1 class="text-center">Particulier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for particulier in particuliers %}
            <tr>
                <td>{{ particulier.prenom }}</td>
                <td>{{ particulier.nom }}</td>
                <td>{{ particulier.adresse }}</td>
                <td>{{ particulier.codePostal }}</td>
                <td>{{ particulier.ville }}</td>
                <td>{{ particulier.telephone }}</td>
                <td>
                    <a href="{{ path('particulier_show', {'id': particulier.id}) }}">show</a>
                    {# <a href="{{ path('particulier_edit', {'id': particulier.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
