{% extends 'base.html.twig' %}

{% block title %}Particulier{% endblock %}

{% block body %}
    <h1>Particulier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ particulier.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ particulier.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ particulier.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ particulier.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ particulier.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ particulier.ville }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ particulier.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('particulier_index') }}">back to list</a>

    <a href="{{ path('particulier_edit', {'id': particulier.id}) }}">edit</a>

    {{ include('profile/particulier/_delete_form.html.twig') }}
{% endblock %}
