{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
    <h1>Commandes index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Commande</th>
                <th>Client ID</th>
                <th>Nom / Societe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                {% if commande.particulier is defined %}
                    <td>{{ commande.particulier.id }}</td>
                    <td>{{ commande.particulier.nom }} {{ commande.particulier.prenom }}</td>
                {% elseif commande.pro is defined %}
                    <td>{{ commande.pro.id }}</td>
                        <td>{{ commande.pro.societe }}</td>
                {% endif %}
                <td>
                {% if commande.particulier is defined %}
                    <a href="{{ path('admin_commande_detail', {'id': commande.id, 'role': 'particulier'}) }}">details</a>
                    <a href="{{ path('admin_commande_edit', {'id': commande.id, 'role': 'particulier'}) }}">edit</a>
                {% elseif commande.pro is defined %}
                    <a href="{{ path('admin_commande_detail', {'id': commande.id, 'role': 'pro'}) }}">details</a>
                    <a href="{{ path('admin_commande_edit', {'id': commande.id, 'role': 'pro'}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_index') }}">Back to menu</a>
{% endblock %}
