{% extends 'base.html.twig' %}

{% block title %}PROSMobile - Liste des promotions{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('promo_index') }}">
					Gestion des promotions
				</a>
			</li>
		</ol>
	</nav>

	<h1 class="text-center">Liste des promotions</h1>

	{% for promo, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ promo }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<div class="container">
		<div class="row">
			{% for promo in promos %}
				{% if promo.photo is empty %}
					{% set photo ='https://via.placeholder.com/150x200' %}
				{% else %}
					{% set photo = promo.photo %}
				{% endif %}
				<div class="col-6 mt-2">
					<div class="media mt-2">
						<img src="{{ photo }}" class="align-self-start mr-3 img-thumbnail" alt="...">
						<div class="media-body">
							<h5 class="mt-2">{{ promo.nom }}</h5>
							<div class="mt-2">
								du
								{{ promo.debut ? promo.debut|date('d/m/Y') : '' }}
								jusqu'au
								{{ promo.fin ? promo.fin|date('d/m/Y') : '' }}
							</div>
							<div class="mt-2">
								{{ promo.pourcentage }}%
							</div>
							<div class="mt-2">
								<button class="btn">
									<a href="{{ path('promo_edit', {'id': promo.id}) }}">
										Éditer
									</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="mt-2">
					Pas de promos trouvées
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="row">
			<button class="btn">
				<a href="{{ path('promo_new') }}">
					Ajouter
				</a>
			</button>
		</div>
	</div>
{% endblock %}
