{% extends 'base.html.twig' %}

{% block title %}PROSmobile| {{ accessoire.nom }}{% endblock %}

{% block body %}
    <h1>{{ accessoire.nom }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-4 offset-4 card" style="width: 18rem;">
            {% if accessoire is defined %}
                    <img src="https://via.placeholder.com/300x400.png" class="card-img-top" alt="Vignette produit">
                    <div class="card-body">
                        <h5 class="card-title">{{ accessoire.nom }}</h5>
                        <p class="card-text">Description de l'accessoire (pas prévu dans la BDD pour l'instant)</p>
                        <p class="card-text">{{ accessoire.prix }} €</p>
                        <a href="{{ path('accessoire_show', {'id': accessoire.id}) }}" class="btn btn-primary">Fiche produit</a>
                        {% if  is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('accessoire_edit', {'id': accessoire.id}) }}" class="btn btn-secondary">Modifier</a>
                            <a href="{{ path('accessoire_edit', {'id': accessoire.id}) }}" class="btn btn-secondary">
                                {{ include('accessoire/_delete_form.html.twig') }}
                            </a>
                        {% endif %}
            {% else %}
                Aucun accessoire trouvé.
            {% endif %}
                    </div>
            </div>
        </div>
    </div>

    {% if  is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('accessoire_new') }}">Ajouter un accessoire</a>
        </div>
    {% endif %}

    <div>
        <a href="{{ path('accessoire_index') }}">Retour à la liste complète</a>
    </div>

{% endblock %}
