{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				{# administrator part #}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				{% else %}
					<a href="{{ path('home') }}">
						Accueil
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Téléphones
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>Marques</h1>
	{# brand #}
	<div class="container my-5">
		<div class="row">
			{% for brand in brands %}
				{% if phones is defined and not null %}
					<div class="col-3 d-flex justify-content-center">
						<a href="{{ path('article_sell_phones_by_brand', {'id': brand.id, 'slug': brand.nom}) }}">
							<img class="brand" src="{{ brand.image }}" alt="{{ brand.nom }}">
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
