{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE | Recherche
	{% if typeArt is same as('Telephone') %}
		téléphone
	{% elseif typeArt is same as('Composant') %}
		composant
	{% elseif typeArt is same as('Accessoire') %}
		accessoire
	{% elseif typeArt is same as('Reparation') %}
		réparation
	{% endif %}
{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				{# administrator part #}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				{% else %}
					<a href="{{ path('home') }}">
						Accueil
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				{% if typeArt is same as('Telephone') %}
					Téléphones
				{% elseif typeArt is same as('Composant') %}
					Composants
				{% elseif typeArt is same as('Accessoire') %}
					Accessoires
				{% elseif typeArt is same as('Reparation') %}
					Réparations
				{% endif %}
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>
		{% if typeArt is same as('Telephone') %}
			Téléphones
		{% elseif typeArt is same as('Composant') %}
			Composants
		{% elseif typeArt is same as('Accessoire') %}
			Accessoires
		{% elseif typeArt is same as('Reparation') %}
			Réparations
		{% endif %}
	</h1>
	<h2 class="my-5">
		{% if typeArt is same as('Telephone') %}
			choisissez une marque
		{% elseif typeArt is same as('Composant') %}
			choisissez la marque du téléphone
		{% elseif typeArt is same as('Accessoire') %}
			choisissez la marque du téléphone
		{% endif %}
	</h2>
	{# brands #}
	<div class="container">
		<div class="row">
			{% for brand in brands %}
				<div class="col-2 my-3">
					{% if typeArt is same as('Telephone') %}
						<div>
							<a href="{{ path('article_sell_phones_by_brand', {'id': brand.id, 'slug': brand.nom}) }}">
								<img class="brand" src="{{ brand.image }}" alt="{{ brand.nom }}">
							</a>
						</div>
					{% elseif typeArt is same as('Composant') %}
						<div>
							<a href="{{path('article_sell_components_by_brand',{'id':brand.id,'slug':brand.nom})}}">
								<img class="brand" src=" {{ brand.image }} " alt=" {{ brand.nom }} "></a>
							</div>
						{% elseif typeArt is same as('Accessoire') %}
							<div>
								<a href="{{ path('article_sell_accessories_by_brand', {'id': brand.id, 'slug': brand.nom}) }}">
									<img class="brand" src="{{ brand.image }}" alt="{{ brand.nom }}">
								</a>
							</div>
						{% elseif typeArt is same as('Reparation') %}
							<div class="col-3 d-flex justify-content-center">
								<a href="{{ path('article_sell_repairs') }}">
									<img class="brand" src="#" alt="...">
								</a>
							</div>
				{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
