<nav
	class="navbar navbar-expand-lg navbar-light bg-light stiky-top">
	<!-- brand -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li>
				<a class="navbar-brand" href=" {{ path('home') }}">PROSMOBILE</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</li>
		</ul>
	</div>


	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Mon compte
				</a>
				<div class="dropdown-menu dropdown-menu-lg-right" style="width:350px;" aria-labelledby="navbarDropdown">
					<div class="navbar-nav d-flex flex-column">
						<div>
							<!-- roles -->
							{% if app.user %}
								<!-- individual -->
								{% if is_granted('ROLE_PARTICULIER')%}
									<div class="nav-item">
										<a class="nav-link" href="{{ path('particulier_profile', { 'id': app.user.id }) }}">
											<i class="fas fa-user fa-lg"></i>
										</a>
									</div>
									<!-- professional -->
								{% elseif is_granted('ROLE_PRO') %}
									<div class="nav-item">
										<a class="nav-link" href="{{ path('pro_profile', { 'id' : app.user.id }) }}">
											<i class="fas fa-user-tie fa-lg"></i>
										</a>
									</div>
									<!-- administration -->
								{% elseif is_granted('ROLE_ADMIN') %}
									<div class="nav-item">
										<a class="nav-link" href="{{ path('home') }}">
											<i class="fas fa-user-shield fa-lg"></i>
										</a>
									</div>
								{% endif %}
								<!-- logout -->
								<div class="nav-item">
									<a class="nav-link" href="{{ path('logout') }}">
										Se déconnecter
									</a>
								</div>
							{% else %}
								<!-- login -->
								<div class="nav-item active d-flex justify-content-center">
									<a class="nav-link btn btn-success text-white" style="width:150px;" href="{{ path('login') }}">
										Identifiez-vous
									</a>
								</div>
							{% endif %}
						</div>

						<div>
							<!-- register -->
							{% if not app.user %}
								<div class="row d-flex justify-content-center" style="font-size:0.7em;">
									<span>Nouveau client ?</span>
									<a class="nav-link" style="margin-left:5px; padding:0;" href="{{ path('register')}}">Créez votre compte</a>
								</div>
							{% endif %}
						</div>
					</div>
				</li>
			</li>
		</ul>
	</div>
	<div>
		<button class="btn btn-success">
			<i class="fas fa-phone-alt fa-lg" style="margin-right:5px;"></i> 03 88 62 98 01
		</button>
	</div>
</nav>
