<nav class="navbar navbar-expand-lg navbar-light bg-white stiky-top">
	{# brand #}
	<a class="navbar-brand text-success" href="{{ path('home') }}">
		PROSMOBILE
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		{# prosmobile facebook #}
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="btn" href="https://fr-fr.facebook.com/prosmbile" target="_blank" role="button" title="PROSMobile Facebook">
					<i data-fa-symbol="facebook" class="fab fa-facebook-f text-success"></i>
					<svg class="icon">
						<use xlink:href="#facebook"></use>
					</svg>
				</a>
			</li>
		</ul>
		{# links #}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item mr-4">
				<a class="nav-link" href="{{ path('article_index') }}">
					Articles
				</a>
			</li>
			<li class="nav-item mr-4">
				<a class="nav-link" href="#">
					Réparation
				</a>
			</li>
			<li class="nav-item mr-4">
				<a class="nav-link" href="#">
					Magasin
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					Contact
				</a>
			</li>
		</ul>
		{# accounts #}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<div class="d-flex flex-column">
					{% if app.user %}
						<a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Mon compte
						</a>
						<span class="text-success" style="font-size:0.7em;">
							Vous êtes connecté(e)
						</span>
					{% else %}
						<a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Mon compte
						</a>
						<span class="" style="font-size:0.7em;">
							Identifiez-vous
						</span>
					{% endif %}
					<div class="dropdown-menu mt-3" style="width:305px;" aria-labelledby="navbarDropdown">
						{% if app.user %}
							{# individual #}
							{% if is_granted('ROLE_PARTICULIER')%}
								<h6 class="text-center">Compte particulier</h6>
								<div class="container d-flex justify-content-center">
									<div class="row">
										<div class="col-4">
											<i data-fa-symbol="user" class="fas fa-user text-success"></i>
											<svg class="icon">
												<use xlink:href="#user"></use>
											</svg>
										</div>
										<div class="col-4">
											<a class="btn p-0" href="{{ path('particulier_profile', { 'id': app.user.id }) }}" role="button" title="Profil">
												<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
												<svg class="icon">
													<use xlink:href="#edit"></use>
												</svg>
											</a>
										</div>
										<div class="col-4">
											<a class="btn p-0" href="{{ path('logout') }}" role="button" title="Se déconnecter">
												<i data-fa-symbol="logout" class="fas fa-sign-out-alt text-secondary"></i>
												<svg class="icon">
													<use xlink:href="#logout"></use>
												</svg>
											</a>
										</div>
									</div>
								</div>
								{# professional #}
							{% elseif is_granted('ROLE_PRO') %}
								<h6 class="text-center">Compte professionnel</h6>
								<div class="container d-flex justify-content-center">
									<div class="row">
										<div class="col-4">
											<i data-fa-symbol="pro-user" class="fas fa-user-tie text-success"></i>
											<svg class="icon">
												<use xlink:href="#pro-user"></use>
											</svg>
										</div>
										<div class="col-4">
											<a class="btn p-0" href="{{ path('pro_profile', { 'id' : app.user.id }) }}" role="button" title="Profil">
												<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
												<svg class="icon">
													<use xlink:href="#edit"></use>
												</svg>
											</a>
										</div>
										<div class="col-4">
											<a class="btn p-0" href="{{ path('logout') }}" role="button" title="Se déconnecter">
												<i data-fa-symbol="logout" class="fas fa-sign-out-alt text-secondary"></i>
												<svg class="icon">
													<use xlink:href="#logout"></use>
												</svg>
											</a>
										</div>
									</div>
								</div>
								{# administrator #}
							{% elseif is_granted('ROLE_ADMIN') %}
								<h6 class="text-center">Compte administrateur</h6>
								<div class="container d-flex justify-content-center">
									<div class="row">
										<div class="col-4">
											<i data-fa-symbol="admin-user" class="fas fa-user-tie text-success"></i>
											<svg class="icon">
												<use xlink:href="#admin-user"></use>
											</svg>
										</div>
										<div class="col-4">
											<a class="btn p-0" href="{{ path('admin_index', { 'id' : app.user.id }) }}" role="button" title="Dashboard">
												<i data-fa-symbol="dashboard" class="fas fa-chart-line text-secondary"></i>
												<svg class="icon">
													<use xlink:href="#dashboard"></use>
												</svg>
											</a>
										</div>
										<div class="col-4">
											<a class="btn p-0" href="{{ path('logout') }}" role="button" title="Se déconnecter">
												<i data-fa-symbol="logout" class="fas fa-sign-out-alt text-secondary"></i>
												<svg class="icon">
													<use xlink:href="#logout"></use>
												</svg>
											</a>
										</div>
									</div>
								</div>
							{% endif %}
						{% else %}
							{# login #}
							<div class="nav-item active d-flex justify-content-center mt-2">
								<a class="btn btn-success" href="{{ path('login') }}" role="button">
									Identifiez-vous
								</a>
							</div>
							{# register #}
							{% if not app.user %}
								<div class="row d-flex justify-content-center mt-2" style="font-size:0.7em;">
									<span>
										Nouveau client ?
									</span>
									<a class="nav-link text-primary p-0 ml-2" href="{{ path('register')}}">
										Créez votre compte
									</a>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</li>
		</ul>
		{# phone number #}
		<ul class="navbar-nav">
			<li class="nav-item">
				<div class="p-2 ml-5 bg-success text-white rounded">
					<i data-fa-symbol="phone" class="fas fa-mobile-alt"></i>
					<svg class="icon">
						<use xlink:href="#phone"></use>
					</svg>
					<span>
						03 88 62 98 01
					</span>
				</div>
			</li>
		</ul>
	</div>
</nav>
