<nav class="navbar navbar-expand-lg navbar-light bg-secondary stiky-top">
	<!-- brand -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li>
				<a class="navbar-brand" href=" {{ path('home') }}">PROSMOBILE</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</li>
		</ul>
	</div>

	<!-- links -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Links
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#"></a>
					<a class="dropdown-item" href="#"></a>
				</div>
			</li>
		</ul>
	</div>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<!-- register -->
			{% if not app.user %}
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('register')}}">S'enregistrer</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">(current)</span>
					</button>
				</li>
			{% endif %}
			<!-- roles -->
			{% if app.user %}
				<!-- individual -->
				{% if is_granted('ROLE_PARTICULIER')%}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('particulier_profile', { 'id': app.user.id }) }}">
							<i class="fas fa-user fa-lg"></i>
						</a>
					</li>
					<!-- professional -->
				{% elseif is_granted('ROLE_PRO') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('pro_profile', { 'id' : app.user.id }) }}">
							<i class="fas fa-user-tie fa-lg"></i>
						</a>
					</li>
					<!-- administration -->
				{% elseif is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">
							<i class="fas fa-user-shield fa-lg"></i>
						</a>
					</li>
				{% endif %}
				<!-- logout -->
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout') }}">
						Se déconnecter
					</a>
				</li>
			{% else %}
				<!-- login -->
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('login') }}">
						Se connecter
					</a>
				</li>
			{% endif %}
		</ul>
		<!-- search -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<form class="form-inline">
					<input class="form-control border border-light" type="search" placeholder="Rechercher" aria-label="Search">
					<button class="btn btn-outline-secondary border border-light" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</li>
		</ul>
	</div>
</nav>
