{% extends 'base.html.twig' %}

{% block title %}Composant index
{% endblock %}

{% block body %}
	<h1>Composant index</h1>
	<div class="container">
		<div class="row">
			{% for composant in composants %}
				{% if composant.photo is empty %}
					{% set photo ='https://via.placeholder.com/50' %}
				{% else %}
					{% set photo ='{{ composant.photo }}' %}
				{% endif %}
				<div class="card mb-3" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="{{ photo }}" class="card-img" alt="{{ composant.photo }}">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">{{ composant.nom }}</h5>
								<small class="text-muted">{{ composant.prix }}€</small>
							</div>
							<div class="card-footer">
								<a href="{{ path('composant_show', {'id': composant.id}) }}" class="card-link">Voir</a>
								{% if  is_granted('ROLE_ADMIN') %}
									<a href="{{ path('composant_edit', {'id': composant.id}) }}" class="card-link">Modifier</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% else %}
				Aucun composant trouvé.
			{% endfor %}
		</div>
	</div>
	{% if  is_granted('ROLE_ADMIN') %}
		<div>
			<a href="{{ path('composant_new') }}">Ajouter un composant</a>
		</div>
	{% endif %}
{% endblock %}
