{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
    <h1>Details commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Article ID</th>
                <th>Article name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Price with Taxes</th>
                {# <td>{{ commande_par.id }}</td> #}
            </tr>
            {% for detail in details %}
                <tr>
                    <td><a href="#">{{ detail.article }}</a></td>
                    <td>{{ detail.nomArt }}</td>
                    <td>{{ detail.quantity }}</td>
                    <td>{{ detail.prixHT }}</td>
                    <td>{{ detail.remise }}</td>
                    <td>{{ detail.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_index') }}">back to list</a>

    <a href="{{ path('commande_edit', {'id': commande_par.id}) }}">edit</a>

    {{ include('commande/commande_par/_delete_form.html.twig') }}
{% endblock %}
