{% extends 'base.html.twig' %}

{% block title %}PROSMOBILE{% endblock %}

{% block body %}
{# <pre>
	{{ dump(details.0.article.0.id) }}
</pre> #}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			{% if is_granted('ROLE_ADMIN') %}
				<li class="breadcrumb-item">
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('admin_commande_index') }}">
						Commandes
					</a>
				</li>
			{% elseif is_granted('ROLE_PARTICULIER') %}
				<li class="breadcrumb-item">
					<a href="{{ path('particulier_profile', {'id' : app.user.id}) }}">
						Profile
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('commande_index', {'id' : app.user.particulier.id}) }}">
						Commandes
					</a>
				</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">
				Détails commandes
			</li>
		</ol>
	</nav>
	{# title #}
	<h1 class="text-center">Détails commandes</h1>
	{# body #}
	<table class="table mt-4">
		<thead class="thead-dark">
			<tr>
				<th>Article ID</th>
				<th>Article name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Price with Taxes</th>
				<th>Discount</th>
				<th>Total</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% if details is not empty %}
			{% for detail in details %}
				<tr>
					<td>
						<a href="#">{{ detail.article.0.id }}</a>
					</td>
					<td>{{ detail.nomArt }}</td>
					<td>{{ detail.quantite }}</td>
					<td>{{ detail.prixHT }}</td>
					<td>{{ detail.prixTTC }}</td>
					<td>{{ detail.promo }}</td>
					<td>{{ total }}</td>
					<td>
						{% if is_granted('ROLE_ADMIN') %}
						<div class="row">
							<div>
							<a href="{{ path('admin_commande_edit', {'id': commande_par.id, 'role': 'particulier'}) }}">
								<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
								<svg class="icon-md">
									<use xlink:href="#edit"></use>
								</svg>
							</a>
							</div>
							<div title="Supprimer">
							{{ include('commande/detail_cde_pro/_delete_form.html.twig') }}
							</div>
						</div>
						{% elseif is_granted('ROLE_PARTICULIER') %}
						<div class="row">
						<div>
							<a href="{{ path('commande_edit', {'id': commande_par.id}) }}">
								<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
								<svg class="icon-md">
									<use xlink:href="#edit"></use>
								</svg>
							</a>
							</div>
						<div title="Supprimer">
							{{ include('commande/detail_cde_part/_delete_form.html.twig') }}
						{% endif %}
						</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		{% endif %}
		</tbody>
	</table>
{% endblock %}
