<h1 class="text-center">Articles compatibles</h1>
{# compatible product #}
<div class="container mt-4">
	<div class="row">
		{% for art_comp in art_comps %}
			{% if art_comp.photo is empty %}
				{% set photo ='https://via.placeholder.com/150x200' %}
			{% else %}
				{% set photo = art_comp.photo %}
			{% endif %}
			<div class="col-4 mt-2" style="height:500px;">
				<div class="media mt-2">
					<img src="{{ photo }}" class="align-self-start mr-4 img-thumbnail" style="width:150px; height:200px;" alt="...">
					<div class="media-body">
						<h5 class="mt-2">{{ art_comp.nom }}</h5>
						{# administrator part #}
						{% if  is_granted('ROLE_ADMIN') %}
							<p class="mt-4">Référence :
								{{ art_comp.reference }}
								- Stock restant :
								{{ art_comp.stock }}</p>
						{% endif %}
						<p class="card-text">{{ art_comp.description }}</p>
						{% if is_granted('ROLE_PARTICULIER') %}
							<p class="mt-4">{{ art_comp.prixTtc }}
								€</p>
						{% else %}
							<p class="mt-4">{{ art_comp.prixHt }}
								€ HT</p>
						{% endif %}
						{# buttons #}
						<div class="container">
							<div class="row">
								{# show product button #}
								<div class="col-4">
									<a href="{{ path('article_show', {'id': article.id}) }}" title="Afficher">
										<i data-fa-symbol="show" class="fas fa-eye text-secondary"></i>
										<svg class="icon">
											<use xlink:href="#show"></use>
										</svg>
									</a>
								</div>
								{# administrator part #}
								{% if is_granted('ROLE_ADMIN') %}
									{# edit button #}
									<div class="col-4">
										<a href="{{ path('article_edit', {'id': article.id}) }}" title="Modifier">
											<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
											<svg class="icon">
												<use xlink:href="#edit"></use>
											</svg>
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="">
				Aucun article compatible enregistré dans cette liste
			</div>
		{% endfor %}
	</div>
</div>
