{{ form_start(form) }}
<div class="container mt-4">
	<div class="row">
		<div class="col-lg">
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.nom, 'Nom complet (exemple : "iPhone X noir 32 Go")') }}
				{{ form_widget(form.nom) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.photo, 'Photo') }}
				{{ form_widget(form.photo) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.reference, 'Référence comptable') }}
				{{ form_widget(form.reference) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.description, 'Description') }}
				{{ form_widget(form.description) }}
			</div>
		</div>
		<div class="col-lg">
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.prixHt, 'Prix HT') }}
				{{ form_widget(form.prixHt) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.prixTtc, 'Prix TTC') }}
				{{ form_widget(form.prixTtc) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.stock, 'Stock disponible') }}
				{{ form_widget(form.stock) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.typeArt, 'Catégorie') }}
				{{ form_widget(form.typeArt) }}
			</div>
			<div class="d-flex flex-column mt-2">
				{{ form_label(form.spec, 'Spécifications') }}
				{{ form_widget(form.spec) }}
			</div>
		</div>
	</div>
</div>
{# save button #}
<div class="container">
	<div class="row">
		<button class="btn" title="Sauvegarder">
			<i data-fa-symbol="save" class="fas fa-save text-secondary"></i>
			<svg class="icon">
				<use xlink:href="#save"></use>
			</svg>
		</button>
	</div>
</div>
{{ form_end(form) }}
