{% extends 'base.html.twig' %}

{% block title %}PROSmobile - Articles{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				{% else %}
					<a href="{{ path('home') }}">
						Accueil
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Articles
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>Tous les articles disponibles</h1>
	{# administrator part #}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="container-fluid my-5">
			{# add button #}
			<div class="row">
				<button class="btn" title="Ajouter">
					<a href="{{ path('article_new') }}">
						<button class="add-button" title="Ajouter">
							<i data-fa-symbol="add" class="fas fa-plus"></i>
							<svg class="icon-md">
								<use xlink:href="#add"></use>
							</svg>
						</button>
					</a>
				</button>
			</div>
		</div>
	{% endif %}
	{# product list #}
	<div class="container">
		<div class="row">
			{% for article in articles %}
				{#				{{  dump(article.marque) }}#}
				{% if article.photo is empty %}
					{% set photo ='' %}
				{% else %}
					{% set photo = article.photo %}
				{% endif %}
				<div class="col-6 my-3">
					<div class="media">
						<img src="{{ photo }}" class="align-self-start mr-4 img-product" alt="...">
						<div class="media-body">
							<h5 class="my-3">{{ article.nom }}</h5>
							<p>
								{{ article.description }}
							</p>
							{# administrator part #}
							{% if is_granted('ROLE_ADMIN') %}
								<p>
									Référence :
									{{ article.reference }}
								</p>
								<p>
									Stock restant :
									{{ article.stock }}
								</p>
							{% endif %}
							{# professional part #}
							{% if is_granted('ROLE_PRO') == false %}
								{% if promo is defined %}
									<p class="text-center">
										<del>
											{{ article.prixTtc }}
											€
										</del>
										<span class="ml-3">
											{% set prixTTcReduit = article.prixTtc * (1 - promo / 100) %}
											{{ prixTTcReduit }}
											€ TTC
										</span>
									</p>
								{% else %}
									<p class="text-center">
										{{ article.prixTtc }}
										€ TTC
									</p>
								{% endif %}
							{% endif %}
							{# professional part #}
							{% if is_granted('ROLE_PRO') %}
								{% if reduc is defined and not null %}
									<p class="text-center">
										<del>
											{{ article.prixHt }}
											€
										</del>
										<span class="ml-3">
											{% set prixHtReduit = article.prixHt * (1 - promo / 100) %}
											{{ prixHtReduit }}
											€ HT
										</span>
									</p>
								{% else %}
									<p class="text-center">
										{{ article.prixHt }}
										€ HT
									</p>
								{% endif %}
							{% endif %}
							{# buttons #}
							<div class="container">
								<div class="row d-flex justify-content-center">
									{# show product button #}
									<div class="mx-2">
										<a href="{{ path('article_show', {'slug1': article.typeArt.nom, 'slug2': article.marque.nom, 'id': article.id }) }}">
											<button class="show-button" title="Afficher">
												<i data-fa-symbol="show" class="fas fa-eye"></i>
												<svg class="icon-md">
													<use xlink:href="#show"></use>
												</svg>
											</button>
										</a>
									</div>
									{# administrator part #}
									{% if is_granted('ROLE_ADMIN') %}
										{# edit button #}
										<div class="mx-2">
											<a href="{{ path('article_edit', {'id': article.id}) }}">
												<button class="edit-button" title="Modifier">
													<i data-fa-symbol="edit" class="fas fa-pen"></i>
													<svg class="icon-md">
														<use xlink:href="#edit"></use>
													</svg>
												</button>
											</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				{# empty #}
				<div>
					Aucun article n'est enregistré dans cette liste
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
