{% extends 'base.html.twig' %}

{% block title %}PROSmobile - {{ article.nom }}{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				{# administrator #}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				{% else %}
					<a href="{{ path('home') }}">
						Accueil
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('article_sell_phone_brands') }}">
					Téléphones
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#">
					{{ marque.nom }}
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Fiche produit
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>{{ article.nom }}</h1>
	{# product #}
	<div class="container my-5">
		{% if article is defined %}
			<div class="media">
				<img src="{{ article.photo }}" class="align-self-start mr-4 img-product" alt="{{ article.nom }}">
				<div class="media-body">
					<h5 class="my-3">{{ article.nom }}</h5>
					<p>
						{{ article.description }}
					</p>
					{# administrator #}
					{% if  is_granted('ROLE_ADMIN') %}
						<p>
							Référence :
							{{ article.reference }}
						</p>
						<p>
							Stock restant :
							{{ article.stock }}
						</p>
					{% endif %}
					{# professional #}
					{% if is_granted('ROLE_PRO') == false %}
						{% if promo is defined %}
							<p class="text-center">
								<del>
									{{ article.prixTtc }}
									€
								</del>
								<span class="ml-3">
									{{ prix_ttc_reduit }}
									€ TTC
								</span>
							</p>
						{% else %}
							<p class="text-center">
								{{ article.prixTtc }}
								€ TTC
							</p>
						{% endif %}
					{% endif %}
					{# professional #}
					{% if is_granted('ROLE_PRO') %}
						{% if reduc is defined and not null %}
							<p class="text-center">
								<del>
									{{ article.prixHt }}
									€
								</del>
								<span class="ml-3">
									{{ prix_ht_reduit }}
									€ HT
								</span>
							</p>
						{% else %}
							<p class="text-center">
								{{ article.prixHt }}
								€ HT
							</p>
						{% endif %}
					{% endif %}
					{# button #}
					<div class="row d-flex justify-content-center my-3">
						{# add to basket button #}
						<div class="mx-2">
							{# professional #}
							{% if is_granted('ROLE_PRO') and reduc is defined and not null %}
								<a href="{{ path('panier_add', {'id': article.id, 'promo': reduc} ) }}">
								{% elseif promo is defined %}
									<a href="{{ path('panier_add', {'id': article.id, 'promo': promo} ) }}">
									{% else %}
										<a href="{{ path('panier_add', {'id': article.id, 'promo': 0} ) }}">
										{% endif %}
										<button class="add-basket-button" title="Ajouter au panier">
											<i data-fa-symbol="add-basket" class="fas fa-shopping-cart"></i>
											<svg class="icon-md">
												<use xlink:href="#add-basket"></use>
											</svg>
										</button>
									</a>
								</div>
								{# administrator #}
								{% if is_granted('ROLE_ADMIN') %}
									{# edit button #}
									<div class="mx-2">
										<a href="{{ path('article_edit', {'id': article.id}) }}">
											<button class="edit-button" title="Modifier">
												<i data-fa-symbol="edit" class="fas fa-pen"></i>
												<svg class="icon-md">
													<use xlink:href="#edit"></use>
												</svg>
											</button>
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% else %}
					<div>
						Aucun article trouvé avec ces critères
					</div>
				{% endif %}
			</div>
			{# include compatible products #}
			<div>
				{% include ('art_comp/show.html.twig') %}
			</div>
		{% endblock %}
