{% extends 'base.html.twig' %}

{% block title %}PROSmobile |{{ article.nom }}{% endblock %}

{% block body %}
    <h1>{{ article.nom }}</h1>

{% if article is defined %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ article.photo }}" class="card-img" alt="Vignette article {{ article.nom }}"
                 title="{{ article.nom }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ article.nom }}</h5>
                {% if is_granted('ROLE_ADMIN') %}
                    <p class="card-text">Référence : {{ article.reference }} - Stock restant : {{ article.stock }}</p>
                {% endif %}
                <p class="card-text">{{ article.description }}</p>
                {% if is_granted('ROLE_PARTICULIER') %}
                    <p class="card-text">{{ article.prixTtc }} €</p>
                {% else %}
                    <p class="card-text">{{ article.prixHt }} € HT</p>
                {% endif %}
                <div>
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-outline-success">Fiche produit</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        {# BOUTON JAUNE EDITER #}
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
                        {# BOUTON ROUGE SUPPRIMER #}
                        <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="card border-danger mb-3 w-50">
                <div class="card-body text-danger">
                    <h5 class="card-title">ERREUR</h5>
                    <p class="card-text">Aucun article trouvé avec ces critères.</p>
                    <a href="{{ path('article_index') }}" class="btn btn-primary">Retour à la liste</a>
            </div>
        {% endif %}

    {# TODO inclure la section articles compatibles :
    {% include ('../art_comp/show.html.twig') %} #}

<div>
    <a href="{{ path('home') }}" class="btn btn-outline-success">Retour à l'accueil</a>
</div>
{% endblock %}
