{% extends 'base.html.twig' %}

{% block title %}PROSmobile - {{ article.nom }}{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				{# administrator #}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				{% else %}
					<a href="{{ path('home') }}">
						Accueil
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item">
				{% if article.typeArt.nom is same as('Telephone') %}
					<a href="{{ path('article_sell_phones') }}">
						Téléphones
					</a>
				{% elseif type_art is same as('Composant') %}
					<a href="{{ path('article_sell_components') }}">
						Composants
					</a>
				{% elseif type_art is same as('Accessoire') %}
					<a href="{{ path('article_sell_accessories') }}">
						Accessoires
					</a>
				{% elseif type_art is same as('Reparation') %}
					<a href="{{ path('article_sell_repairs') }}">
						Réparations
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item">
				{% if type_art is same as('Telephone') %}
					<a href="{{ path('article_sell_phones_by_brand', {'slug': marque}) }}">
						{{ marque }}
					</a>
				{% elseif type_art is same as('Composant') %}
					<a href="{{ path('article_sell_components_by_brand', {'slug': marque}) }}">
						{{ marque }}
					</a>
				{% elseif type_art is same as('Accessoire') %}
					<a href="{{ path('article_sell_accessories_by_brand', {'slug': marque}) }}">
						{{ marque }}
					</a>
				{% elseif type_art is same as('Reparation') %}
					<a href="{{ path('article_sell_repairs_by_brand', {'slug': marque}) }}">
						{{ marque }}
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Fiche produit
			</li>
		</ol>
	</nav>
	{# title #}
	<h1>{{ article.nom }}</h1>
	{# product #}
	<div class="container mt-4">
		<div class="row d-flex justify-content-center">
			{% if article is defined and not null %}
				<div class="col-4 mt-2" style="height:300px;">
					<div class="media mt-2">
						<img src="{{ article.photo }}" class="align-self-start mr-4 img-thumbnail" style="width:150px; height:200px;" alt="{{ article.nom }}">
						<div class="media-body">
							<h5 class="mt-2">{{ article.nom }}</h5>
							{# administrator part #}
							{% if  is_granted('ROLE_ADMIN') %}
								<p class="card-text">
									Référence :
									{{ article.reference }}
								</p>
								<p class="card-text">
									Stock restant :
									{{ article.stock }}
								</p>
							{% endif %}
							<p class="card-text">
								{{ article.description }}
							</p>
							{# user part #}
							{% if is_granted('ROLE_PRO') == false %}
								{% if promo is defined and not null %}
									<p class="card-text">
										<del>{{ article.prixTtc }}</del>
										€
									</p>
									<p class="card-text">
										{% set prixTTcReduit = article.prixTtc * (1 - promo / 100) %} Promo ! {{ prixTTcReduit }}
										€ TTC
									</p>
								{% else %}
									<p class="card-text">
										{{ article.prixTtc }}
										€ TTC
									</p>
								{% endif %}
							{% endif %}
							{% if is_granted('ROLE_PRO') %}
								{% if reduc is defined and not null %}
									<p class="card-text">
										<del>{{ article.prixHt }}</del>
										€
									</p>
									<p class="card-text">
										{% set prixHtReduit = article.prixHt * (1 - promo / 100) %} Prix réduit : {{ prixHtReduit }}
										€ HT
									</p>
								{% else %}
									<p class="card-text">
										{{ article.prixHt }}
										€ HT
									</p>
								{% endif %}
							{% endif %}
							{# buttons #}
							{# add to basket button #}
									<div class="mx-2">
										<button class="btn" title="Ajouter au panier">
										{% if is_granted('ROLE_PRO') and reduc is defined and not null %}
											<a href="{{ path('panier_add', {'id': article.id, 'promo': reduc} )}}">
										{% elseif promo is defined and not null %}
											<a href="{{ path('panier_add', {'id': article.id, 'promo': promo} )}}">
										{% else %}
										<a href="{{ path('panier_add', {'id': article.id, 'promo': 0} )}}">
										{% endif %}
										<button class="add-basket-button" title="Ajouter au panier">
											<i data-fa-symbol="add-basket" class="fas fa-shopping-cart"></i>
											<svg class="icon-md">
												<use xlink:href="#add-basket"></use>
											</svg>
										</button>
										</a>
									</div>
								{# administrator #}
								{% if is_granted('ROLE_ADMIN') %}
									{# edit button #}
									<div class="mx-2">
										<a href="{{ path('article_edit', {'id': article.id}) }}">
											<button class="edit-button" title="Modifier">
												<i data-fa-symbol="edit" class="fas fa-pen"></i>
												<svg class="icon-md">
													<use xlink:href="#edit"></use>
												</svg>
											</button>
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div>
					Aucun article trouvé avec ces critères
				</div>
			{% endif %}
		</div>
	{# compatible products #}
	{% if artcomp is defined %}
	<div class="container">
		<div class="row">
			{% include ('art_comp/show.html.twig') %}
		</div>
	</div>
	{% endif %}
{% endblock %}
