{% extends 'base.html.twig' %}

{% block title %}PROSmobile - {{ article.nom }}{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('admin_index') }}">
						Dashboard
					</a>
				{% else %}
					<a href="{{ path('home') }}">
						Accueil
					</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('article_sell_brand') }}">
					Téléphones
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#">
					{{ marque.nom }}
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Fiche produit
			</li>
		</ol>
	</nav>

	{# body #}
	<h1 class="text-center">{{ article.nom }}</h1>
	{# product #}
	<div class="container mt-4">
		<div class="row d-flex justify-content-center">
			{% if article is defined %}
				<div class="col-4 mt-2" style="height:300px;">
					<div class="media mt-2">
						<img src="{{ article.photo }}" class="align-self-start mr-4 img-thumbnail" style="width:150px; height:200px;" alt="{{ article.nom }}">
						<div class="media-body">
							<h5 class="mt-2">{{ article.nom }}</h5>
							{# administrator part #}
							{% if  is_granted('ROLE_ADMIN') %}
								<p class="card-text">
									Référence :
									{{ article.reference }}
									- Stock restant :
									{{ article.stock }}
								</p>
							{% endif %}
							<p class="card-text">
								{{ article.description }}
							</p>
							{# user part #}
							{% if is_granted('ROLE_PRO') == false %}
								{% if promo is defined %}
									<p class="card-text">
										{# TODO en css : PRIX TTC D'ORIGINE BARRÉ #}
										{{ article.prixTtc }}
										€
									</p>
									<p class="card-text">
										{{ prix_ttc_reduit }}
										€ TTC
									</p>
								{% else %}
									<p class="card-text">
										{{ article.prixTtc }}
										€ TTC
									</p>
								{% endif %}
							{% endif %}
							{% if is_granted('ROLE_PRO') %}
								{% if reduc is defined and not null %}
									<p class="card-text">
										{# TODO en css : PRIX HT D'ORIGINE BARRÉ #}
										{{ article.prixHt }}
										€
									</p>
									<p class="card-text">
										{{ prix_ht_reduit }}
										€ HT
									</p>
								{% else %}
									<p class="card-text">
										{{ article.prixHt }}
										€ HT
									</p>
								{% endif %}
							{# {% else %}
								<p class="card-text">
									{{ article.prixHt }}
									€ HT
								</p>
								<p class="card-text">
									{{ article.prixTtc }}
									€ TTC
								</p> #}
							{% endif %}
							{# buttons #}
							{# add to basket button #}
							<div class="container">
								<div class="row">
									<div class="col-4">
										<button class="btn" title="Ajouter au panier">
										{% if is_granted('ROLE_PRO') and reduc is defined and not null %}
											<a href="{{ path('panier_add', {'id': article.id, 'promo': reduc} )}}">
										{% elseif promo is defined %}
											<a href="{{ path('panier_add', {'id': article.id, 'promo': promo} )}}">
										{% else %}
										<a href="{{ path('panier_add', {'id': article.id, 'promo': 0} )}}">
										{% endif %}
												<i data-fa-symbol="basket" class="fas fa-shopping-cart text-success"></i>
												<svg class="icon-md">
													<use xlink:href="#basket"></use>
												</svg>
											</a>
										</button>
									</div>
									{# administrator part #}
									{% if is_granted('ROLE_ADMIN') %}
										{# edit button #}
										<div class="col-4">
											<button class="btn" title="Modifier">
												<a href="{{ path('article_edit', {'id': article.id}) }}">
													<i data-fa-symbol="edit" class="fas fa-pen text-secondary"></i>
													<svg class="icon-md">
														<use xlink:href="#edit"></use>
													</svg>
												</a>
											</button>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div>
					Aucun article trouvé avec ces critères
				</div>
			{% endif %}
		</div>
	</div>
	{# compatible products #}
	<div class="container">
		<div class="row">
			{% include ('art_comp/show.html.twig') %}
		</div>
	</div>
{% endblock %}
